* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  letter-spacing: -0.025em;
  line-height: 1.618;
  -webkit-text-size-adjust: none;
}

button {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: white;
}

.btn.big {
  padding: 0.75rem 2rem;
  border-radius: 16px;
  font-size: 1.45rem;
}

.btn.normal {
  border-radius: 300rem;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
}

.btn.main-btn {
  color: #49c6b9;
  background-color: #ffffe2;
}

.btn.green {
  background-color: #00a99d;
  color: white;
  -webkit-box-shadow: 7px 7px 20px rgba(0, 169, 157, 0.65);
          box-shadow: 7px 7px 20px rgba(0, 169, 157, 0.65);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #00a99d;
  color: white;
  text-align: center;
  z-index: 99;
}

.header .back-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("./../../images/icon-back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;
  background-color: transparent;
}

.container {
  padding: 1rem 0;
}

.footer {
  text-align: center;
}

body.intro {
  background: linear-gradient(45deg, #1fc3de, #5dc9aa);
}

.wrapper {
  width: 100%;
  padding: 15px;
  padding-top: 2.5rem;
}

.wrapper.intro {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .intro-img {
  width: 80%;
  max-width: 18rem;
  margin-bottom: 2.25rem;
  margin-top: 1.65rem;
}

.wrapper .intro-heading > small {
  color: #ffffe2;
  font-size: 1.25rem;
  font-weight: normal;
  display: block;
  margin-bottom: -0.55rem;
}

.wrapper .intro-heading > p {
  color: #ffff75;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.25rem;
  text-shadow: 0 0 1.65rem rgba(255, 255, 226, 0.65);
}

.wrapper .intro-sub-heading {
  color: #ffffe2;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.wrapper .tip-heading {
  color: white;
  display: block;
  width: 100%;
  text-align: left;
  padding: 15px;
  margin-bottom: 3rem;
}

.wrapper .tip-heading > p {
  margin-bottom: 0.35rem;
}

.wrapper .tip-heading > p.right {
  text-align: right;
  margin-bottom: 0;
  margin-top: 0.35rem;
}

.wrapper .tip-heading .tip-heading__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .tip-heading .tip-heading__box p {
  font-size: 1.725rem;
  font-weight: bold;
  line-height: 1.25;
}

.wrapper .tip-heading .tip-heading__box p.tip {
  font-size: 3.65rem;
  margin-top: auto;
  margin-left: auto;
  margin-right: 0.25rem;
  line-height: 1.15;
}

.wrapper .tip-contents__container {
  width: 100%;
}

.wrapper .tip-contents__container .tip-contents {
  width: 50%;
  float: left;
  padding-right: 2.5px;
}

.wrapper .tip-contents__container .tip-contents .tip-contents__title {
  font-size: 0.95rem;
  font-weight: bold;
  color: #00849d;
  line-height: 1.35;
}

.wrapper .tip-contents__container .tip-contents .tip-contents__title > strong {
  color: #00a99d;
}

.wrapper .tip-contents__container .tip-contents .btn.normal {
  background-color: #00a99d;
}

.wrapper .tip-contents__container .tip-contents:last-of-type {
  padding-right: 0;
  padding-left: 2.5px;
}

.wrapper .tip-contents__container .tip-contents:last-of-type .tip-contents__title {
  color: #0071bc;
}

.wrapper .tip-contents__container .tip-contents:last-of-type .tip-contents__title > strong {
  color: #29abe2;
}

.wrapper .tip-contents__container .tip-contents:last-of-type .btn.normal {
  background-color: #29abe2;
}

.wrapper .tip-contents__container .tip-contents__box {
  background-color: white;
  border-radius: 20px;
  padding: 1rem 0.25rem;
}

.wrapper .tip-contents__container .tip-contents__box > img {
  width: 4.25rem;
  margin-bottom: 0.5rem;
}

.wrapper .tip-contents__container .tip-contents__box > .tip-contents__title {
  margin-bottom: 0.65rem;
}

.wrapper .tip-contents__container .tip-contents__box > p {
  color: #808080;
  font-size: 0.7rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.consulting-form__wrapper {
  background-color: #eaeaea;
  padding-bottom: 2rem;
}

.consulting-title {
  font-size: 1.05rem;
  margin-bottom: 0.75rem;
}

.consulting-title.green {
  color: #00849d;
}

.consulting-contents > h4 {
  margin-bottom: 0.65rem;
}

.consulting-contents .consulting-form {
  background-color: white;
  padding: 1rem 0.25rem;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.65rem;
}

.consulting-contents .consulting-form.recommended-form {
  background-color: #f6eeb6;
}

.consulting-contents .consulting-form.recommended-form .consulting-input__wrap label, .consulting-contents .consulting-form.recommended-form .consulting-input__wrap .input-wrap {
  color: #f80707;
}

.consulting-contents .consulting-form.recommended-form .consulting-input__wrap .input-wrap > input {
  background-color: white;
}

.consulting-contents .consulting-input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
}

.consulting-contents .consulting-input__wrap:first-of-type {
  margin-top: 0;
}

.consulting-contents .consulting-input__wrap:first-of-type label {
  margin-top: 3px;
}

.consulting-contents .consulting-input__wrap:first-of-type .input-wrap input {
  margin-top: 3px;
}

.consulting-contents .consulting-input__wrap:first-of-type .input-wrap #cType {
  width: 80%;
}

.consulting-contents .input-wrap {
  width: 50%;
}

.consulting-contents .input-wrap .input-tooltip {
  font-size: 0.6rem;
  margin-top: 0.25rem;
}

.consulting-contents .input-wrap input {
  width: 60%;
  background-color: #fcfae7;
  border: 1px solid #cfd5d5;
  border-radius: 4px;
  padding: 0.25rem;
}

.consulting-contents .input-wrap input::-webkit-input-placeholder {
  font-size: 0.85rem;
}

.consulting-contents .input-wrap input:-ms-input-placeholder {
  font-size: 0.85rem;
}

.consulting-contents .input-wrap input::-ms-input-placeholder {
  font-size: 0.85rem;
}

.consulting-contents .input-wrap input::placeholder {
  font-size: 0.85rem;
}

.consulting-contents .consulting-input__wrap label {
  width: 50%;
  display: block;
  color: #00a99d;
  text-align: center;
}

.recommended-consulting .consulting-form .consulting-input__wrap .input-wrap {
  width: 60%;
}

.recommended-consulting .consulting-form .consulting-input__wrap .input-wrap .num-input {
  width: 1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #808080;
  border-radius: 0;
  padding: 0;
  text-align: center;
}

.recommended-consulting .consulting-form .consulting-input__wrap label {
  width: 35%;
}
