.consulting-form__wrapper {
    background-color: #eaeaea;
    padding-bottom: 2rem;
}
.consulting-title {
    font-size: 1.05rem;
    margin-bottom: 0.75rem;
    &.green {
        color: $dark-green;
    }
}
.consulting-contents {
    & > h4 {
        margin-bottom: 0.65rem;
    }
    .consulting-form {
        background-color: white;
        padding: 1rem 0.25rem;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
        margin-bottom: 0.65rem;

        &.recommended-form {
            background-color: #f6eeb6;
            .consulting-input__wrap {
                label, .input-wrap {
                    color: #f80707;
                }
                .input-wrap > input {
                    background-color: white;
                }
            }
        }
    }
    .consulting-input__wrap {
        display: flex;
        margin-top: 1.25rem;

        &:first-of-type {
            margin-top: 0;
            label {
                margin-top: 3px;
            }
            .input-wrap input {
                margin-top: 3px;
            }
            .input-wrap #cType {
                width: 80%;
            }
        }
    }
    .input-wrap {
        width: 50%;
        .input-tooltip {
            font-size: 0.6rem;
            margin-top: 0.25rem;
        }
    }
    .input-wrap input {
        width: 60%;
        background-color: $light-yellow;
        border: 1px solid $grey;
        border-radius: 4px;
        padding: 0.25rem;

        &::placeholder {
            font-size: 0.85rem;
        }
    }
    .consulting-input__wrap label {
        width: 50%;
        display: block;
        color: $green;
        text-align: center;
    }
}
.recommended-consulting {
    .consulting-form .consulting-input__wrap {
        .input-wrap  {
            width: 60%;
            .num-input{
                width: 1rem;
                background-color: transparent;
                border: 0;
                border-bottom:  1px solid $dark-grey;
                border-radius: 0;
                padding: 0;
                text-align: center;
            }
        }
        label {
            width: 35%;
        }
    }
}

.consulting-detail__box {
    display: flex;
    background-color: white;
    padding: 1rem 0.5rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    margin-bottom: 0.65rem;
    border: 3px solid white;
    &.active {
        border-color: $green;
        .left {
            & > h5 {
                color: $green;
            }
            & > p {
                color: #4d4f5c;
            }
        }
        .right {
            & > li > span {
                color: #f85b5b;
            }
        }
    }
    .left {
        flex: 0 0 50%;
        & > p {
            color: #939292;
            font-size: 0.85rem;
            margin-bottom: 0.5rem;
        }
        & > span {
            color: #939292;
            font-size: 0.75rem;
        }
        & > h5 {
            color: #4d4f5c;
            font-size: 1.4rem;
            font-weight: bold;
            & > span {
                color: $green;
                font-size: 0.7rem;
                font-weight: bold;
                background-image: url("./../images/icon-down.png");
                background-position: left center;
                background-size: 0.65rem;
                background-repeat: no-repeat;
                padding-left: 0.65rem;
                margin-left: 3px;
            }
        }
    }
    .right {
        flex: 0 0 50%;
        & > li {
            display: flex;
            align-items: center;
            padding-bottom: 0.5rem;
            padding-left: 3.25rem;
            background-size: 2.5rem;
            background-position: left center;
            background-repeat: no-repeat;
            height: 3rem;
            &:first-child {
                background-image: url('./../images/icon-lightning.png');
            }
            &:last-child {
                background-image: url('./../images/icon-it.png');
            }
            & > span {
                border-bottom: 1px solid #919191;
                color: #706868;
                padding: 0 0.25rem 0.25rem;
                margin-right: 0.25rem;
                margin-bottom: -0.25rem;
            }
        }
    }
}

.consulting-detail__list {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    padding: 0.5rem 1rem;

    & > li {
        border-bottom: 1px solid #c8c8c8;
        padding: 0.85rem 0.5rem 0.85rem 2.5rem;
        padding-left: 2.5rem;
        background-size: 2rem;
        background-position: left center;
        background-repeat: no-repeat;
        font-size: 0.85rem;

        & > span {
            float: right;
            color: $black;    
            strong {
                color: $green;
                margin-right: 0.25rem;
            }
        }
        &:first-child {
            background-image: url('./../images/icon-detail-1.png');
        }
        &:nth-child(2) {
            background-image: url('./../images/icon-detail-2.png');
        }
        &:nth-child(3) {
            background-image: url('./../images/icon-detail-3.png');
        }
        &:nth-child(4) {
            background-image: url('./../images/icon-detail-4.png');
        }
        &:last-child {
            background-image: url('./../images/icon-detail-5.png');
        }
    }
}