body.intro {
    background: linear-gradient(45deg,#1fc3de,#5dc9aa);
}
.wrapper {
    width: 100%;
    padding: 15px;
    padding-top: 2.5rem;
    &.full-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .intro-img {
        width: 80%;
        max-width: 18rem;
        margin-bottom: 2.25rem;
        margin-top: 1.65rem;
    }

    .intro-txt__box {
    }
    .intro-heading {
        & > small {
            color: $white;
            font-size: 1.25rem;
            font-weight: normal;
            display: block;
            margin-bottom: -0.55rem;
        }
        & > p {
            color: $yellow;
            font-size: 3.5rem;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 1.25rem;
            text-shadow: 0 0 1.65rem rgba(255,255,226,0.65);
        }
    }
    .intro-sub-heading {
        color: $white;
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        line-height: 1.4;
    }

    .tip-heading {
        color: white;
        display: block;
        width: 100%;
        text-align: left;
        padding: 15px;
        margin-bottom: 3rem;

        & > p {
            margin-bottom: 0.35rem;
            &.right {
                text-align: right;
                margin-bottom: 0;
                margin-top: 0.35rem;
            }
        }

        .tip-heading__box {
            display: flex;
            p {
                font-size: 1.725rem;
                font-weight: bold;
                line-height: 1.25;

                &.tip {
                    font-size: 3.65rem;
                    margin: {
                        top: auto;
                        left: auto;
                        right: 0.25rem;
                    }
                    line-height: 1.15;
                }
            }
        }
    }

    .tip-contents__container {
        width: 100%;
        .tip-contents {
            width: 50%;
            float: left;
            padding-right: 2.5px;
            .tip-contents__title {
                font-size: 0.95rem;
                font-weight: bold;
                color: $dark-green;
                line-height: 1.35;
                & > strong {
                    color: $green;
                }
            }
            .btn.normal {
                background-color: $green;
            }

            &:last-of-type {
                padding-right: 0;
                padding-left: 2.5px;
                .tip-contents__title {
                    color: $dark-blue;;
                    & > strong {
                        color: $sky-blue;
                    }
                }
                .btn.normal {
                    background-color: $sky-blue;
                }
            }
        }
        .tip-contents__box {
            background-color: white;
            border-radius: 20px;
            padding: 1rem 0.25rem;
            & > img {
                width: 4.25rem;
                margin-bottom: 0.5rem;
            }
            & > .tip-contents__title {
                margin-bottom: 0.65rem;
            }
            & > p {
                color: $dark-grey;
                font-size: 0.7rem;
                line-height: 1.5;
                margin-bottom: 0.5rem;
            }
        }
    }
}